<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='home'">
<header th:replace="comm/header::headerFragment(${title},${active})"></header>

<body class="fixed-left">
    <div id="wrapper">
        <div th:replace="@{/comm/header}::header-body"></div>
        <div class="content-page">
            <div class="content">
                <div class="container">
                </div>
            </div>
        </div>
    </div>
    <div th:replace="comm/footer::footer"></div>
</body>
</html>